<div class="container text-center">
  <%= render 'layouts/notice' %>
  <div class="row">
      <div class="col mt-3">
        <div class="card pt-2">
          <%= gravatar_for @lense, size: 280, class: 'card-img' %>
          <div class="card-body">
            <h1 class="card-title"><%= @lense.colour %></h1>
            <p class="card-text lg"  style="font-size: 24px"><%= @lense.description %>.</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><strong>Type: </strong><%= @lense.prescription_type %></li>
            <li class="list-group-item"><strong>Lense type: </strong><%= @lense.lens_type %></li>
          </ul>
          <div class="card-body">
            <span href="#" class="card-link"><strong>Stock: </strong><%= @lense.stock %></span>
            <span href="#" class="card-link"><strong>Price: </strong><%= [@lense.price, @lense.currency].join(' ') %></span>
          </div>
          <div class="card-body">
            <%= link_to 'Edit', edit_lense_path(@lense), class: 'btn btn-lg btn-outline-warning text-warning' if current_user.admin %>
            <%= link_to 'Back', lenses_path, class: 'btn btn-lg btn-outline-success text-success' %>
          </div>
          <% if current_user&.admin %>
            <div class="card-footer text-muted">
              <small><%= "created by #{@lense.user.username }, #{time_ago_in_words(@lense.created_at)} ago" %></small>
            </div>
          <% end %>
        </div>
      </div>
  </div>
</div>
