<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to "bloobloom", root_path, class: 'navbar-brand', id: 'logo' %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <% if user_signed_in? %>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Shop
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= link_to 'Lenses', lenses_path, class: 'dropdown-item'%>
              <%= link_to 'Frames', frames_path, class: 'dropdown-item'%>
            </div>
          </li>
          <li class="form-inline my-2 my-lg-0">
            <%= link_to 'Edit Profile',  edit_user_registration_path, class: 'nav-link' %>
          </li> 
          <% if current_user&.admin %>
            <li class="form-inline my-2 my-lg-0">
              <%= link_to 'Edit Shop',  root_path, class: 'nav-link' %>
            </li>   
          <% end %>         
        </ul>
        <div class="badge badge-secondary text-center my-2">
          <%= link_to "#{current_order.order_items.size} items with a value of #{current_order.subtotal}$", cards_path %>
        </div>
        <div class="d-inline my-2 my-lg-0 d-flex">
          <%= link_to "#{current_user.username} Profle", edit_user_registration_path, class: 'nav-link' %>
          <%= button_to 'Logout',  destroy_user_session_path, method: :delete, class: 'nav-link btn btn-danger' %>
        </div>
      <% else %>
            <div class="d-flex align-items-end ">
              <div><%= link_to 'Sign up',  new_user_registration_path, class: 'nav-link btn btn-success mr-3' %></div>
              <div><%= link_to 'Login',  new_user_session_path, class: 'nav-link btn btn-dark' %></div>
            </div>
      <% end %>
    </div>
</nav>